<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home page</title>
</head>
<body>
    <div class="top-bar">
        <div class="page-icon-container">
          <img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1533407640/home.png" alt="page icon" />
        </div>
        <div class="logo-container">
          <img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1533395974/instagram-font-logo-white-png.png" alt="logo" />
        </div>
        <div class="menu-icon-container">
          <img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1533407639/list.png" alt="menu icon" />
        </div>  
      </div>  
      
      <div class="instagram-post first-post">
        <div class="instagram-post-top">
             <img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1533122246/profile-picture.jpg" alt="avatar" />
          <span class="username">johnjames.21</span><span class="more-options"></span>
        </div>     
        <div class="post-container">
        <img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1532848922/samples/food/spices.jpg" alt="instagram post" />
        </div>
        <div class="instagram-post-bottom">
          <span class="instagram-like-icon"></span><span class="instagram-comment-icon"></span><span class="instagram-bookmark-icon"></span>  
          <br>
          <span class="likes-amount">455 likes</span>
          <br>
          <div class="instagram-caption">
            <span class="username">johnjames.21</span>This is my first post #haha #firstpost
          </div>  
          <br>
          <span class="timestamp">4 Hours Ago</span>
        </div>  
      </div> 
      
      <div class="instagram-post">
        <div class="instagram-post-top">
             <img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1533122246/profile-picture.jpg" alt="avatar" />
          <span class="username">johnjames.21</span><span class="more-options"></span>
        </div>     
        <div class="post-container">
        <img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1532848922/samples/food/spices.jpg" alt="instagram post" />
        </div>
        <div class="instagram-post-bottom">
          <span class="instagram-like-icon"></span><span class="instagram-comment-icon"></span><span class="instagram-bookmark-icon"></span>  
          <br>
          <span class="likes-amount">455 likes</span>
          <br>
          <div class="instagram-caption">
            <span class="username">johnjames.21</span>This is my first post #haha #firstpost
          </div>  
          <br>
          <span class="timestamp">4 Hours Ago</span>
        </div>  
      </div> 
      
      <div class="instagram-post">
        <div class="instagram-post-top">
             <img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1533122246/profile-picture.jpg" alt="avatar" />
          <span class="username">johnjames.21</span><span class="more-options"></span>
        </div>     
        <div class="post-container">
        <img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1532848922/samples/food/spices.jpg" alt="instagram post" />
        </div>
        <div class="instagram-post-bottom">
          <span class="instagram-like-icon"></span><span class="instagram-comment-icon"></span><span class="instagram-bookmark-icon"></span>  
          <br>
          <span class="likes-amount">455 likes</span>
          <br>
          <div class="instagram-caption">
            <span class="username">johnjames.21</span>This is my first post #haha #firstpost
          </div>  
          <br>
          <span class="timestamp">4 Hours Ago</span>
        </div>  
      </div> 
      
      <div class="instagram-post">
        <div class="instagram-post-top">
             <img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1533122246/profile-picture.jpg" alt="avatar" />
          <span class="username">johnjames.21</span><span class="more-options"></span>
        </div>     
        <div class="post-container">
        <img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1532848922/samples/food/spices.jpg" alt="instagram post" />
        </div>
        <div class="instagram-post-bottom">
          <span class="instagram-like-icon"></span><span class="instagram-comment-icon"></span><span class="instagram-bookmark-icon"></span>  
          <br>
          <span class="likes-amount">455 likes</span>
          <br>
          <div class="instagram-caption">
            <span class="username">johnjames.21</span>This is my first post #haha #firstpost
          </div>  
          <br>
          <span class="timestamp">4 Hours Ago</span>
        </div>  
      </div> 
      
      <div class="instagram-post">
        <div class="instagram-post-top">
             <img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1533122246/profile-picture.jpg" alt="avatar" />
          <span class="username">johnjames.21</span><span class="more-options"></span>
        </div>     
        <div class="post-container">
        <img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1532848922/samples/food/spices.jpg" alt="instagram post" />
        </div>
        <div class="instagram-post-bottom">
          <span class="instagram-like-icon"></span><span class="instagram-comment-icon"></span><span class="instagram-bookmark-icon"></span>  
          <br>
          <span class="likes-amount">455 likes</span>
          <br>
          <div class="instagram-caption">
            <span class="username">johnjames.21</span>This is my first post #haha #firstpost
          </div>  
          <br>
          <span class="timestamp">4 Hours Ago</span>
        </div>  
      </div> 
</body>
</html>