<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, i<!DOCTYPE html>
<html lang=" en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="shortcut icon"
            href="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1024px-Instagram_icon.png">
        <!--     <link rel="stylesheet" href="css/home.css" type="text/css"> -->
        <title> Instagram </title>
    </head>

<body>

    <div class="container">
        <div class="login">
            <div class="phone-img">
                <img src="https://i.ibb.co/0yFRT6k/IG-Profile-Overview.jpg" alt="" class="img-on-phone">
            </div>

            <div class="input-form-div">
                <div class="input-form">
                    <h2 class="IG-logo" style = "margin: 0;">
                        <img src="/images/logo.png" alt="logo" style="width:200px;height: 80px; margin-top: 10px; object-fit: cover;">
                    </h2>
                    <p style="font-size: 18px; font-weight: 600; color: gray; text-align: center; margin: 5px 20px">Register to watch photos and videos of your friends.</p>
                    <div class="fb-login-text register-fb" style = "margin: 10px 0;">
                        <img src="/images/facebook-3-64.png" alt="" width="18px" height="18px">
                        <span><a href="#" style="color: #fff;">Log in with Facebook</a></span>
                    </div>
                    <div class="lines" style = "margin: 10px 0;">
                        <div class="left-line"></div>
                        <div>OR</div>
                        <div class="right-line"></div>
                    </div>
                    <form class="form">
                        <div class="input-container">
                            <input type="text" placeholder="Phone number, Email" class="text-input" name="num-email">
                            <input type="text" placeholder="Name and surname" class="text-input" name="name">
                            <input type="text" placeholder="Username" class="text-input" name="username">
                            <input type="password" placeholder="Password" class="text-input" name="password">
                        </div>

                        <button type="submit" class="button">Sign up</button>
                    </form>
                </div>

                <div class="signup-text">
                    <p>Do have an account? <span><a href="/login">Sign In</a></span></p>
                </div>

            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-links">
            <ul>
                <li>About</li>
                <li>Help</li>
                <li>Press</li>
                <li>API</li>
                <li>Jobs</li>
                <li>Privacy</li>
                <li>Terms</li>
                <li>Locations</li>
                <li>Top Accounts</li>
                <li>Hashtags</li>
                <li>Language</li>

            </ul>
        </div>
        <span class="copyright">&copy; 2020 INSTAGRAM FROM FACEBOOK</span>

    </div>
</body>

</html>