/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 310). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox and floats are used as a fallback so that browsers which don't support grid will still recieve a similar layout.

*/

/* Base Styles */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700');


:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

.container {
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.btn:focus {
    outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */

.profile {
    padding: 5rem 0;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-image img {
    border-radius: 50%;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.profile-user-settings {
    margin-top: 1.1rem;
}

.profile-user-name {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}

.profile-edit-btn {
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}

.profile-settings-btn {
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats {
    margin-top: 2.3rem;
}

.profile-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile-stats li:last-of-type {
    margin-right: 0;
}

.profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
    font-weight: 600;
}

/* Gallery Section */

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
    display: none;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
}

.gallery-item-likes {
    margin-right: 2.2rem;
}

.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
    transform: rotateY(180deg);
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Loader */

.loader {
    width: 5rem;
    height: 5rem;
    border: 0.6rem solid #999;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin: 0 auto;
    animation: loader 500ms linear infinite;
}

/* Media Query */

@media screen and (max-width: 40rem) {
    .profile {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem 0;
    }

    .profile::after {
        display: none;
    }

    .profile-image,
    .profile-user-settings,
    .profile-bio,
    .profile-stats {
        float: none;
        width: auto;
    }

    .profile-image img {
        width: 7.7rem;
    }

    .profile-user-settings {
        flex-basis: calc(100% - 10.7rem);
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .profile-user-name {
        font-size: 2.2rem;
    }

    .profile-edit-btn {
        order: 1;
        padding: 0;
        text-align: center;
        margin-top: 1rem;
    }

    .profile-edit-btn {
        margin-left: 0;
    }

    .profile-bio {
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }

    .profile-edit-btn,
    .profile-bio,
    .profile-stats {
        flex-basis: 100%;
    }

    .profile-stats {
        order: 1;
        margin-top: 1.5rem;
    }

    .profile-stats ul {
        display: flex;
        text-align: center;
        padding: 1.2rem 0;
        border-top: 0.1rem solid #dadada;
        border-bottom: 0.1rem solid #dadada;
    }

    .profile-stats li {
        font-size: 1.4rem;
        flex: 1;
        margin: 0;
    }

    .profile-stat-count {
        display: block;
    }
}

/* Spinner Animation */

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}

/*

The following code will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 

*/

@supports (display: grid) {
    .profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3rem;
        align-items: center;
    }

    .profile-image {
        grid-row: 1 / -1;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 2rem;
    }

    .profile-image,
    .profile-user-settings,
    .profile-stats,
    .profile-bio,
    .gallery-item,
    .gallery {
        width: auto;
        margin: 0;
    }

    @media (max-width: 40rem) {
        .profile {
            grid-template-columns: auto 1fr;
            grid-row-gap: 1.5rem;
        }

        .profile-image {
            grid-row: 1 / 2;
        }

        .profile-user-settings {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 1rem;
        }

        .profile-edit-btn,
        .profile-stats,
        .profile-bio {
            grid-column: 1 / -1;
        }

        .profile-user-settings,
        .profile-edit-btn,
        .profile-settings-btn,
        .profile-bio,
        .profile-stats {
            margin: 0;
        }
    }
}



.top-bar {
    padding: 10px 0;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
}

.page-icon-container {
    display: inline-block;
    margin-right: 2%;
    padding-right: 3%;
    border-right: 2px solid #fff;
    line-height: 32px;
    text-align: right;
    vertical-align: middle;
    width: 19%;
}

.page-icon-container img {
  vertical-align: middle;
}

.logo-container {
    display: inline-block;
    width: 56%;
    vertical-align: middle;
}

.logo-container img {
  height: 50px;
  margin-top: 15px;
}

.menu-icon-container {
    display: inline-block;
    line-height: 32px;
    vertical-align: middle;
}

.menu-icon-container img {
  vertical-align: middle;  
}

.instagram-post {
  background: #f7f7f7;
  margin: 0 auto;
  padding-bottom: 60px;
  width: 70%;
}

.first-post {
  padding-top: 89px;
}
.instagram-post-top {
  padding: 15px 35px;
  line-height: 45px;
  vertical-align: middle;
}

.instagram-post-top img {
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;
  width: 45px;
}

span.username {
  font-weight: 600;
  vertical-align: middle;
}

span.more-options {
    background: url(https://res.cloudinary.com/jorpdesigns/image/upload/v1533421516/sprite.png);
    background-repeat: no-repeat;
    background-position: -78px -210px;
    float: right;
    height: 24px;
    position: relative;
    top: 11px;
    vertical-align: middle;
    width: 24px;
}

.post-container img {
  width: 100%;
}

.instagram-post-bottom {
  padding: 15px 45px;  
}

.instagram-like-icon {
    background: url(https://res.cloudinary.com/jorpdesigns/image/upload/v1533421516/sprite.png);
    background-repeat: no-repeat;
    background-position: -72px -138px;
    float: left;
    height: 24px;
    margin-right: 20px;
    vertical-align: middle;
    width: 24px;  
}

.instagram-comment-icon {
    background: url(https://res.cloudinary.com/jorpdesigns/image/upload/v1533421516/sprite.png);
    background-repeat: no-repeat;
    background-position: -184px -52px;
    float: left;
    height: 24px;
    vertical-align: middle;
    width: 24px;   
}

.instagram-bookmark-icon {
    background: url(https://res.cloudinary.com/jorpdesigns/image/upload/v1533421516/sprite.png);
    background-repeat: no-repeat;
    background-position: -182px -184px;
    float: right;
    height: 24px;
    vertical-align: middle;
    width: 24px;   
}

.likes-amount {
    display: block;
    font-weight: 600;
    margin-top: 25px;
    text-align: left;
}

.instagram-caption .username {
  margin-right: 5px;
  margin-top: -3px;
  vertical-align: top;
}

.timestamp {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}


.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.IG-logo {
    font-family: cursive;
    font-size: 30px;
    margin-top: -20px;
}

.phone-img {
   background-image: url(https://i.ibb.co/XsHfBLx/Phones.png);
   background-size: 445px 600px;
    background-repeat: no-repeat;
    height: 618px;
    width: 420px;
    padding-right: 1.5em;
    padding-top:1em;
    padding-bottom: 1.5em ;

}

.register-fb{
    background-color: #2C95F6;
    color: #fff;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}
.register-fb > span a{
    color: #fff;
}
.phone-img > img{
    margin-top: 8em;
    margin-left: 14.5em;
}

.input-form {
    background-color: #fff;
    height: 100%;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: -2em; */
    border: 1px solid #ccc;
    padding: 20px 40px  ;
    
}
.form{
    text-align: center;
}

.input-container {
    text-align: center;
    width: 100%;
    /*    margin-bottom: -2em;*/
}

.text-input {
    width: 100%;
    height: 10px;
    padding: 1.3em;
    margin-bottom: 5px;
    background-color: none;
    border-radius: 4px;
    border-style: groove;
    font-size: 12px;
    border: 1px solid #c1c1c1;

}
.text-input:focus{
    outline: none;
    border: 1px solid #000;
}


.button {
    background-color: #2C95F6;
    /*    background-color: #0095f6;*/
    border: none;
    border-radius: 4px;
    padding: 8px 10px;
    font-size: 15px;
    color: #fff;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.lines {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: #888;
    width: 100%;
}

.left-line {
    background-color: #aaa;
    width: 100%;
    height: 1px;
    margin-left: 5px;
    margin-right: 5px;
}

.right-line {
    background-color: #aaa;
    width: 100%;
    height: 1px;
     margin-left: 5px;
    margin-right: 5px;
}

.fb-login-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-weight: 700;
    font-size: 15px;
}

.fb-login-text > span{
    color: #385185;

    margin-left: 5px;
    margin-right: 5px;
}

.fb-login-text > span a{
    text-decoration: none;
    color: #385185;
}

p.forgot-pwd{
    margin-top: 0em;
}

p.forgot-pwd > span{
    color:#385185;
    font-size: 13px;
    font-weight: 600;
}

div.input-form-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.signup-text{
    background-color: #fff;
    width: 100%;
    height: 63px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
}

div.signup-text a{
    text-decoration: none;
    color: #2C95F6;
    font-weight: 600;
    font-size: 14px;
    margin-left: 5px;
    
}

div.appstore-btns{
    display: flex;
    margin-top: 20px;
}

div.appstore-btns a > img{
    width:136px;
    height: 40px;
    margin: 0 5px;
}

div.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.footer-links{
    margin-top: 40px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

div.footer-links ul{
display: inline;
}

div.footer-links ul li{
text-decoration: none;
list-style-type: none;
color: #385185;
display: inline;
margin-right: 5px;
margin-left: 5px;
font-weight: bold;
font-size: 15px;
}

span.copyright{
    color:#888;
    font-size: 14px;
    font-family: calibri;
    /*display: inline;*/
}


@media (max-width: 990px){
    .input-form {
        width:100%;
        padding: 20px;
        border: none;
        background: none;
    }
    .phone-img{
        display:none;
    }
    .footer{
        display: none;
    }
    div.appstore-btns{
        display: block;
    }
}